*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    margin: 0;
}

.board {
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    position: relative;
    top: 0;
    left: 0;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: calc(var(--cell-size) * 0.15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    background-color: #666;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: #666;
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: white;
}

.end_game {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: beige;
    color: white;
    font-size: 6rem;
}

.end_game.show {
    display: flex;
}

.restart_game {
    font-size: 3.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 8px 13px;
    cursor: pointer;
}

.restart_game:hover {
    background-color: black;
    border-color: white;
    color: white;
    transition: 0.3s;
}